*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    font-size: 15px;
    font-family: 'Inria Serif', serif;
    font-family: 'Inter', sans-serif;
}

body{
    /* height: 100%; */
    width: 100%;
    background-color: rgba( 255, 255, 255, 100%);
}

#name{
    margin-top: 1.33rem;
}

section{
    padding: 0 1.8rem;
}

#profile{
    margin-top: 3.8rem;
}

#profile > img{
    width: 7.33rem;
    height: 7.33rem;
    border-radius: 50%;
}

#profile a {
    text-decoration: none;
    color: rgba( 0, 0, 0, 60%);
}

.title {
    font-size: 1.33rem;
    margin-top: 1.33rem
}

.spaced{
    margin-top:0.67rem;
}

ol{
    padding: 0 0 0 1.3rem;
}

.button{
    width: 5.867rem;
    height: 1.93rem;
}

section > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span{
    position: relative;
}

.button{
    border: none;
    text-align: center;
    border-radius: 0.67rem;
    background-color: #fd79a8;
    font-weight: bold;
    color: #fff;
    /* padding: auto;
    margin: auto 0; */
    position: absolute;
    bottom: 0;
    right: 0;
}