*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#photos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#photos > div{
    display: flex;
    flex-direction: row;
    height: 33.33%;
    width: 100%;
}

#photos > div > img{
    /* height: 33%; */
    width: 50%;
}